*{
    padding: 0;
    margin: 0;
}


header{
    background-color: #0071F8;
    height: 80px;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.navbar-brand img{
    width: 110px;
    padding-top: 5px;
    margin-left: -25px;
    margin-right: 300px;
}
.container-fluid{
    justify-content: end;
    padding-top: 5px;
    text-align: left;
}

.navbar-nav li a{
    color: white;
    font-size: 16px;
    font-weight: 300;
    justify-content: space-evenly;
    padding-left: 35px;
    transition: background-color .3s;
}
.nav-item3 a.active{
    background-color: rgba(255, 255, 255, 0.1);
}
.nav-item5 a{
    background-color: #EE626B;
}
.nav-item1 a:hover,
.nav-item2 a:hover,
.nav-item4 a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.nav-item{
    display: block;
    margin-left: 15px;
}


main{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: 65vh;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
.row{
    display: flex;
    flex-direction: row;
}
.heading{
    margin-top: 200px;
    text-align: center;
}

.product{
    margin-top: 100px;
}

.left-image img{
    width: 450px;
}
.product-heading{
    margin-left: -20px;
}
.product-heading h4{
    margin-top: 30px;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 30px;
}
.product-heading .price{
    color: #0071F8;
    font-size: 27px;
    font-weight: 700;
}

.product-heading .price em{
    color: gray;
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5px;
}
.product-heading p{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 50px;
}
.form-control{
    text-align: center;
    height: 50px;
    border-radius: 25px;
    font-weight: 400;
}
.product-heading button{
    background-color: #EE626B;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    color: white;
    border: none;
    position: absolute;
    bottom: -220px;
    right: 410px;
    transition: background-color .15s ease;
}
.product-heading button:hover{
    background-color: #0071F8;
}

.product-heading ul{
    margin-top: 50px;
    margin-left: -35px;
    list-style: none;
}
.product-heading ul li{
    line-height: 40px;
    color: #0071F8;
    font-size: 14px;
    font-weight: 400;
}

footer{
    background-image: url(images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    margin-top: 1500px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    transition: opacity .3s ease;
}
footer a:hover{
    opacity: .7;
}
