*{
    padding: 0;
    margin: 0;
}


header{
    background-color: #0071F8;
    height: 80px;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.navbar-brand img{
    width: 110px;
    padding-top: 5px;
    margin-left: -25px;
    margin-right: 300px;
}


.container-fluid{
    justify-content: end;
    padding-top: 5px;
    text-align: left;
}

.navbar-nav li a{
    color: white;
    font-size: 16px;
    font-weight: 300;
    justify-content: space-evenly;
    padding-left: 35px;
    transition: background-color .3s;
}
.nav-item1 a.active{
    background-color: rgba(255, 255, 255, 0.1);
}
.nav-item5 a{
    background-color: #EE626B;
}
.nav-item2 a:hover,
.nav-item3 a:hover,
.nav-item4 a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
/* .nav-item2,
.nav-item3,
.nav-item4, */
.nav-item{
    display: block;
    margin-left: 15px;
}


main{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1349px;
    height: 140vh;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
.row{
    display: flex;
    flex-direction: row;
}
.heading{
    margin-top: 200px;
}
h2::after{
    background-image: url(images/underline.png);
    box-sizing: border-box;
    left: 125px;
}
.searchText{
    background-color: white;
    border-color: rgb(122, 122, 122) ;
    border-radius: 25px;
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    cursor: text;
    display: inline-block;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    height: 50px;
    max-width: 100%;
    line-height: 21px;
    outline-color: rgb(122, 122, 122);
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: start;
    width: 450px;
    border-width: 0px;
}
.button{
    appearance: button;
    align-items: flex-start;
    background-color:  #EE626B;
    color: white;
    border-color: white;
    border-radius: 25px;
    border-width: 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-stretch: 100%;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    text-align: center;
    left: 427px;
    bottom: 46px;
    transition: background-color .3s ease;
}
.button:hover{
    background-color: #0071F8;
}
.right-image img{
    margin-top: 200px;
    border-radius: 25px;
    vertical-align: middle;
    width: 350px;
}
.prize{
    background-color: #0071F8;
    border: 0px solid white;
    border-radius: 25px;
    color: white;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    margin: 0px;
    padding: 4px 15px 4px 15px;
    position: absolute;
    top: 220px;
    right: 145px;
}
.offer{
    background-color: #EE626B;
    border: 0px solid white;
    color: white;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 700;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 400px;
}
.item{
    border-radius: 25px;
    background-color: white;
    padding: 35px 35px 35px 35px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
}
.image{
    background-color: #0071F8;
    border: 0px solid #0071F8;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 90px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}
.image img{
    width: 44px;
    line-height: 90px;
}
.image-content{
    display: block;
    line-height: 20.4px;
    margin-block-start: 25px;
}
.features{
    margin-top: -80px;
}
 .image:hover{
    background-color: #EE626B;
}
.trending{
    margin-top: 100px;
}
.section-heading h6{
    color: #EE626B;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: start;
}
.section-heading h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-top: 20px;
    text-align: start;
    display: block;
}
.main-button{
    text-align: right;
    margin-top: 30px;
}
.main-button a{
    background-color: #EE626B;
    color: white;
    text-decoration: none;
    text-decoration-style: solid;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: background-color .3s ease;
}
.main-button a:hover{
    background-color: #0071F8;
    color: white;
}
.item1{
    background-color: rgb(238, 235, 237);
    border-radius: 25px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px;
    line-height: 24px;
    text-align: start;
    position: relative;
}
.card img{
    border-radius: 25px;
}
.category{
    color: rgb(122, 122, 122);
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding-top: 10px;
    line-height: 21px;
    margin-bottom: 5px;
}
.card-body h4{
    font-weight: 600;
    font-size: 17px;
    line-height: 20.4px;
}
.price{
    background-color: #0071F8;
    color: white;
    font-size: 17px;
    font-weight: 600;
    line-height: 25.5px;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    width: 63px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.trending em{
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    line-height: 21px;
}
.most-played{
    background-color: rgb(247, 247, 247);
    border-radius: 150px;
    margin-top: 120px;
    padding-bottom: 80px;
}
.item2{
    background-color: white;
    border-radius: 25px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
    margin-top: 60px;
    
    line-height: 24px;
    text-align: start;
    position: relative;
    width: 170px;
}
.card-body2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-body2 a{
    background: #EE626B;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    left: 37px;
    transition: background-color .3s ease;
}
.card-body2 a:hover{
    background-color: #0071F8;
    color: white;
}
.item3{
    background-color: #0071F8;
    border-radius: 25px;
    width: 200px;
    margin-top: 80px;
    margin-bottom: 200px;
    text-align: starts;
}
.card-body3{
    color: white;
    padding-top: 20px;
}

.section-heading1{
    background-color: rgb(247, 247, 247);
    width: 500px;
    padding-top: 80px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 80px;
    border-radius: 30px;
}
.section-heading1 h6{
    font-size: 15px;
    font-weight: 700;
    color: #EE626B;

}
.section-heading1 h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding-top: 10px;
}
.section-heading1 p{
    font-size: 16px;
    font-weight: 600;
    padding-top: 35px;
}
.search-input input{
    background-color: white;
    border-color: black ;
    border-radius: 25px;
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    cursor: text;
    display: inline-block;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    height: 50px;
    max-width: 100%;
    line-height: 21px;
    outline-color: rgb(122, 122, 122);
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: start;
    width: 450px;
    border-width: 0px;
}
.search-input button{
    appearance: button;
    align-items: flex-start;
    background-color:  #EE626B;
    color: white;
    border-color: white;
    border-radius: 25px;
    border-width: 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-stretch: 100%;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    text-align: center;
    left: 240px;
    bottom: 80px;
    transition: background-color .3s ease;
}
.search-input button:hover{
    background-color: #0071F8;
}
.subscribe{
    background-color: rgb(247, 247, 247);
    width: 500px;
    padding-top: 80px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 80px;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: -430px;
    position: relative;
}

footer{
    background-image: url(images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1349px;
    height: 150px;
    margin-top: 260px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    transition: opacity .3s ease;
}
footer a:hover{
    opacity: .7;
}

@media (max-width: 766px){
    
    /* .navbar-toggler{
        display: block;
    } */
    /* ul{
        position: fixed;
        width: 550px;
        margin-left: 100px;
        background: darkblue;
        align-items: center;
        height: 42vh;
        top: 80px;
        left: 0px;
        text-align: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    } */
    /* nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 80px;
        margin-top: 10px;
    }
    .nav-item1 a.active{
        color: #EE626B;
        background-color: #0071F8;
    }
    .nav-item5 a{
        background-color: darkblue;
    }
    .nav-item a:hover{
        
        background-color: #0071F8;
    } */

    /* main */
    main{
        width: 750px;
        height: 230vh;
    }
    .heading{
        margin-top: 230px;
        align-items: center;
        text-align: center;
    }
    .heading p{
        width: 500px;
    }
    .heading .searchText {
        width: 600px;
    }
    .heading .button{
        left: 492px;
        bottom: 22px;
    }
    .right-image img{
        margin-top: 50px;
        width: 520px;
        position: relative;
    }
    .prize{
        top: 683px;
        right: 135px;
    }
    .offer{
        top: 1180px;
        left: 140px;
    }
    .features{
        display: flex;
        flex-direction: column;
    }
    .features .item{
        width: 500px;

    }
    .trending .main-button{
        margin-top: -120px;
    }
    .item1 img{
        width: 517px;
    }
    .most-played .section-heading h6{
        text-align: center;
    }
    .most-played .section-heading h2{
        text-align: center;
    }
    footer{
        width: 800px;
    }
}
/* @media(min-width: 800px) and (max-width: 1000px){
    header{
        background-color: #0071F8;
        height: 80px;
        border-bottom-left-radius:25px ;
        border-bottom-right-radius: 25px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 1000;
    }
    .navbar-brand img{
        margin-left: -70px;
    }
    .navbar-toggler{
        display: none;

    }
    .container-fluid{
        justify-content: end;
        padding-top: 5px;
        text-align: left;
    }
    ul{
        max-width: 1000px;
        display: flex;
        background: darkblue;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    nav ul li{
        margin: 0 5px;
    }
    nav ul li a{
        display: inline-block;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;
    }  
} */
